<div class="container">
  <h1>Adopt a tree</h1>
  <p>You will receive the best fruits after each picking</h2>
  <%= form_tag trees_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Enter your city" %>
      <br>
    <%= submit_tag "Search", class: "btn btn-success" %>
  <% end %>
  <div class= "btn">
    <%= link_to "All trees", trees_path,class: "btn btn-success btn-lg btn-block" %>
    <%= link_to "Rent your tree", new_tree_path, class: "btn btn-success btn-lg btn-block"%>
    <%= link_to "All your adoptions", adoptions_path, class:"btn btn-success btn-lg" %>
  </div>
</div>
